<!DOCTYPE html>
<html lang="en">

<head>
  <title>Erick Munoz</title>
  <meta id="Content" content="Erick's Munoz Portfolio" name="Erick Munoz">
  <meta content="Erick's Portfolio" name="Erick Munoz Ontiveros">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta >
    <!-- bootstrap -->
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

    <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Favicons -->
  <link href="../static/iPortfolio/assets/img/Black-Internet-icon.png" rel="icon">
  <link href="../static/iPortfolio/assets/img/Black-Internet-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/iPortfolio/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/iPortfolio/assets/css/style.css" rel="stylesheet">

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4258657177440413"
     crossorigin="anonymous"></script>
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <a href="#"> <img src="../static/iPortfolio/assets/img/NovaTech-Photo.PNG" alt="" class="img-fluid rounded-circle"> </a>
        <!-- <h1 class="text-light"><a href="index.html">Erick Munoz</a></h1> -->
        <div class="social-links nav-link mt-3 text-center">
          <a href="https://github.com/Dungyy" class="twitter"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/codewithdungy" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.linkedin.com/in/erick-munoz-2532ab219/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <!-- <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li> -->
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Whoami</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Web Development</span></a></li>
          <li><a class="nav-link scrollto"><i class="bx bx-message-rounded-detail"></i>  <span onclick="window.open('https://medium.com/@hacker.dungy')">Cyber Security Blog</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section style="margin-right: 5%;" id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style="color: #FAF9F6;" data-aos="fade-up" data-aos-delay="500">Erick Munoz</h1>
      <p data-aos="fade-up" data-aos-delay="900"><span style="color: #FAF9F6" class="typed" data-typed-items="Welcome!, Software Developer, Web Developer, Ethical Hacker, Freelancer,"></span></p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title fade-left">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-2 dungy-pic" data-aos="fade-right">
            <!-- <img src="../static/iPortfolio/assets/img/dungy.img.png" class="dungy-pic img-fluid" alt=""> -->
          </div>
          <div class="col-lg-10 pt-4 pt-lg-0 content" style="margin-left: 20px;" data-aos="fade-left">
            <br/>
            <h3>Erick Munoz </h3>
            <p class="about-p" data-aos="fade-up"  data-aos-delay="200">
              As a software developer, I am committed to utilizing my skills and experience to deliver successful projects and solutions while also supporting others. My passion for programming was ignited by a desire for a career change after being diagnosed with cancer. Since then, I have been continuously learning and adapting to the dynamic nature of the IT industry, always keeping up with the latest technologies. My diverse skill set includes expertise in software development, web development, and ethical hacking.

              In my personal life, I prioritize spending quality time with my family. Outside of work, I actively seek out new opportunities to expand my knowledge and expertise. I believe that learning is a continuous process, and I strive to enhance my skills in order to deliver even greater value to my clients and colleagues.
              
              Thank you for taking the time to read about my experience and interests. I look forward to the opportunity to collaborate with you in the future.
            </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section class="Tech section-title skills ">
      <div class="tech" data-aos="fade-up" data-aos-delay="300">
          <h2>Technologies</h2>
          <p>As a Full Stack Web Developer with a specialization in the MERN Stack, I possess a comprehensive understanding of a diverse range of web development technologies. I am proficient in web application security testing and continuously strive to expand my skillset by exploring new programming languages, frameworks, libraries, and security best practices. Additionally, I have a keen interest in the field of penetration testing, which enables me to ensure the security and integrity of my web applications and stay current with the latest industry standards.
          </p>
      </div>
      <br/>
      <div class="Tech-stack ">
        <br/>
      <div id="skills" class="frontend" data-aos="fade-left">
        <h3>Front-End</h3>
        <ul style="display: flex">
          <i class="fab akills fa-html5 fa-2x"></i><h4 class="text"><br/>HTML </h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-css3-alt fa-2x"></i><h4 class="text"><br/>CSS </h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-js-square fa-2x"></i><h4 class="text"><br/>JavaScript</h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-react fa-2x"></i><h4 class="text"><br/>ReactJS</h4>
        </ul>
      </div>
      <br/>
      <div class="backend" data-aos="fade-up">
        <h3>Back-End</h3>
        <ul style="display: flex">
          <i class="fab fa-python fa-2x"></i><h4 class="text"><br/>Python</h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-node-js fa-2x"></i><h4 class="text"><br/>NodeJS </h4>
        </ul>
        <ul style="display: flex; font-size: 25px;">
          <i class="fab akills fa fa-terminal fa-1x"></i><h4 class="text"><br/>BASH | Powershell </h4>
        </ul>
      </div>
      <br/>
      <div class="stack-tools" data-aos="fade-right">
        <h3 style="margin-left: 25px;">Tools </h3>
        <ul style="color: rgb(135, 150, 156);">
          Windows | Linux Operating Systems
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          MongoDB | Mongoose Compass | MySql
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          BootStrap 5 | NPM | RESTful API
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          Azure DevOps | Git | GitHub VersionControl
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          Visual Studio Code | PyCharm 
        </ul>
      </div>
    </div>
    </section>
    <!-- End Skills/Tools Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg" style="margin-right: 5%;">
      <div class="container items">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>
        <!-- 0 -->
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/tesla-replica.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/tesla-replica.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="I have successfully re-designed and developed a replica of the Tesla website using the latest web development technologies such as Reactjs, Redux template, and Styled Components. This project was an exercise in my skills in creating responsive, user-friendly and visually appealing websites. I invite you to explore the website to appreciate the attention to detail and the technical proficiency that has been applied."/>TeslaClone<a class="bx " href="https://tesla-replica.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Tesla-Replica">Code</a>
              </div>
            </div>
          </div>
        <!-- 1 -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
          <div class="portfolio-wrap">
            <img src="../static/iPortfolio/assets/img/dungyzon.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="../static/iPortfolio/assets/img/dungyzon.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="This project is an Amazon clone built using ReactJS and custom CSS for the frontend, and Node.js and Express.js for the backend API. The frontend includes a search bar that allows users to search for products, and displays product information such as images, ratings, and pricing in card components. The backend API handles search requests and returns relevant product data to the frontend. The project replicates some of the core functionality of Amazon and provides an opportunity to practice building a full-stack application using popular web development technologies."/>Dungyzon<a class="bx " href="https://dungyzon.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/frontend-of-dungyzon">Code</a>
            </div>
          </div>
        </div>
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/reactportfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/reactportfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="I am currently in the process of developing a dynamic and responsive portfolio website utilizing the latest web development technologies such as ReactJS and NextJS. This project is an opportunity to showcase my skills in creating modern, scalable and cutting-edge web applications."/>Portfolio<a class="bx " href="https://erickmunoz.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/React-Portfolio">Code</a>
              </div>
            </div>
          </div> -->
        <!-- 2 -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/resume.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/resume.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Erick's online resume, created with;<br> HTML | Python Flask framework for a back-end "/>Resume<a class="bx " href="https://dungy.pythonanywhere.com/">Live</a></a><a class="bx " href="https://github.com/Dungyy/resume">Code</a>
              </div>
            </div>
          </div> -->
        <!-- 3 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app"data-aos="fade-up" data-aos-delay="500">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/tindog.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/tindog.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Introducing TinDog, a playful concept landing page for a fictional company, designed as a parody of the popular dating app, Tinder. This project was developed to showcase my skills in HTML, CSS, and Bootstrap 4 and to inject some humor into my portfolio. I invite you to explore TinDog and appreciate the fun and creative elements of the website."/>tindog<a class="bx " href="https://dungyy.github.io/tindog/">Live</a></a><a class="bx " href="https://github.com/Dungyy/tindog">Code</a>
              </div>
            </div>
          </div>
        <!-- 4 -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-right"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (2).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (2).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Re-Created Simon Game, Using the Document Object Model, I used; <br> HTML | CSS | JavaScript | jQuery "/>SimonGame<a class="bx " href="https://dungyy.github.io/Simon-Game/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Simon-Game">Code</a>
              </div>
            </div>
          </div> -->
        <!-- 5 -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (1).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Jon is a client who wanted an online portfolio to showcase his art to the world wide web I used Python Flask's Mirco framework as a backend. On the front, I used HTML, CSS, and JavaScript for the drop-down nav."/>Portfolio<a class="bx " href="https://snakeskin.pythonanywhere.com/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Jonathons-portfolio">Code</a>
              </div>
            </div>
          </div> -->
        <!-- 6 -->
          
        <!-- 7 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Dingy.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Dingy.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Explore the capabilities of Dingy, a cutting-edge platform that allows you to rapidly track your preferred cryptocurrency. Our team is actively working on incorporating a feature that delivers real-time cryptocurrency news updates. Utilizing advanced technologies such as ReactJS, JSX, CSS, and accessing data through a Restful API, Dingy is a valuable asset for any cryptocurrency enthusiast."/>Dingy<a class="bx " href="https://dingy-crypto.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/crpyto-tracker">Code</a>
              </div>
            </div>
          </div>
        <!-- 8 -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
          <div class="portfolio-wrap">
            <img src="../static/iPortfolio/assets/img/portfolio/dungychat.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="../static/iPortfolio/assets/img/portfolio/dungychat.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Introducing a cutting-edge real-time chat application, utilizing WebSockets technology in conjunction with Node.js, Express, and Socket.io on the backend and Vanilla JavaScript on the frontend, to provide a seamless communication experience."/>DungyChat<a class="bx " href="http://3.87.72.148/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Dungy-Chat/">Code</a>
            </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
          <div class="portfolio-wrap">
            <img src="../static/iPortfolio/assets/img/portfolio/triworks.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="../static/iPortfolio/assets/img/portfolio/triworks.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="I have successfully designed and developed a landing page for a valued client utilizing Velo on the Wix platform. Utilizing my expertise in custom JavaScript and React, I was able to create a visually appealing and functional webpage that exceeded the client's expectations."/>Triworks<a class="bx " href="https://erickmunoz13.wixsite.com/triworks/">Live</a></a><a class="bx " href="https://github.com/Dungyy">Code</a>
            </div>
          </div>
        </div>
        <!-- 10 -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/dungyzon.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/dungyzon.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="This project is an Amazon clone built using ReactJS and custom CSS for the frontend, and Node.js and Express.js for the backend API. The frontend includes a search bar that allows users to search for products, and displays product information such as images, ratings, and pricing in card components. The backend API handles search requests and returns relevant product data to the frontend. The project replicates some of the core functionality of Amazon and provides an opportunity to practice building a full-stack application using popular web development technologies."/>Dungyzon<a class="bx " href="https://dungyzon.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/frontend-of-dungyzon">Code</a>
              </div>
            </div>
          </div> -->
        
          </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Ethical Hacking Bootcamp</h4>
              <p><em>z Security</em></p>
              
              
            </div>
            <div class="resume-item">
              <h4 style="cursor: pointer;" onclick="window.open('https://udemy-certificate.s3.amazonaws.com/image/UC-55d2d303-d44d-4ffd-b4ce-b4805bf0a3b8.jpg?v=1652076006000')">
                2022 Web Development Bootcamp
              </h4>
              <p><em>Udemy</em></p>
              
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title"> Experience</h3>
            <div class="resume-item">
              <h4>Freelancer</h4>
              <p><em>Web Developer</em></p>
              
            </div>
            <div class="resume-item">
              <h4 style="cursor: pointer;" onclick="window.open('https://nteglobal.com/')">Nova-Tech Engineering</h4>
              <p><em>Software Developer</em></p>
              <h5 style="cursor: pointer;" onclick="window.open('https://www.linkedin.com/company/nova-tech-engineering/')">present</h5>
            
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="testimonials-slider">

        <div class="section-title contact1">
          <h2 >Contact</h2>
          <p></p>
        </div>

        <div class="row contact1" data-aos="fade-up">

          
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="phone">
                <i class="bi bi-calendar-check"></i>
                <h4>Schedule a Meeting:</h4>
                <a style="margin-left: 1rem;" href="https://calendly.com/erickmunoztech/phone-call-meeting?month=2022-05">Click Here</a>
              </div>
              <br/>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                  <a href="mailto:erickmunoztech@gmail.com">erickmunoztech@gmail.com</a>
              </div>
                <br>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p href="320.321.4780">320.321.4780</p>
              </div>
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Minnesota, USA</p>
              </div>
                <br>
                <div class="social-icons">
                  <a href="https://github.com/Dungyy" class="twitter"><i class="bx bxl-github"></i></a>
                  <a href="https://twitter.com/codewithdungy" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/erick-munoz-2532ab219/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
                <div>                  
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
              <form action="forms/contact.php" method="post" role="form"style="color: azure;">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="name">Your Email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" rows="10" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
              </form>
            </div>
          </div> -->
          
        </div>

      </div>
      
    </section>
    
  </main>
  
  <!-- End Contact Section -->
  
  <div style="color:#9dadbc; font-size: small; display: flex; flex-direction: column; align-items: center; color: #FAF9F6;">
    <p>
      <!-- <button id="privacy-policy-button">View Privacy Policy</button> -->
      <div id="privacy-policy-popup">
        <div  class="privacy-policy-content">
          <p>We respect your privacy and are committed to protecting any personal information that you provide to us. My website uses custom IP tracking, which may collect information about your location. We do not share ANY personal information with third parties. By using our website, you consent to the collection and use of this information in accordance with this privacy policy.</p>
          <button id="close-button">Close</button>
        </div>
      </div>
    </p>
    <p id="copyright-year" style= color:#9dadbc;></p>

  </div>

  <!-- End #main -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script>
    var currentYear = new Date().getFullYear();
    document.getElementById("copyright-year").innerHTML = "Copyright &copy; " + currentYear + " Erick Munoz Portfolio";
  </script>
  
  <!-- Vendor JS Files -->
  <script src="../static/iPortfolio/assets/vendor/aos/aos.js"></script>
  <script src="../static/iPortfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/iPortfolio/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/iPortfolio/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/iPortfolio/assets/js/main.js"></script>
</body>
</html>
