<!DOCTYPE html>
<html lang="en">

<head>
  <title>Erick Munoz</title>
  <meta id="Content" content="Erick's Munoz Portfolio" name="Erick Munoz">
  <meta content="Erick's Portfolio" name="Erick Munoz Ontiveros">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta >
    <!-- bootstrap -->
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

    <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Favicons -->
  <link href="../static/iPortfolio/assets/img/Black-Internet-icon.png" rel="icon">
  <link href="../static/iPortfolio/assets/img/Black-Internet-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/iPortfolio/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/iPortfolio/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <a href="#"> <img src="../static/iPortfolio/assets/img/NovaTech-Photo.PNG" alt="" class="img-fluid rounded-circle"> </a>
        <!-- <h1 class="text-light"><a href="index.html">Erick Munoz</a></h1> -->
        <div class="social-links nav-link mt-3 text-center">
          <a href="https://github.com/Dungyy" class="twitter"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/codewithdungy" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.linkedin.com/in/erick-munoz-2532ab219/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <!-- <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li> -->
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Whoami</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Web Development</span></a></li>
          <li><a class="nav-link scrollto"><i class="bx bx-message-rounded-detail"></i>  <span onclick="window.open('https://medium.com/@hacker.dungy')">Cyber Security Blog</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 style="color: rgba(240, 248, 255, 0.801);" data-aos="fade-up" data-aos-delay="500">Erick Munoz</h1>
      <p data-aos="fade-up" data-aos-delay="900"><span style="color: rgba(240, 248, 255, 0.801);" class="typed" data-typed-items="Welcome!, Software Developer, Web Developer, Ethical Hacker, Freelancer,"></span></p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title fade-left">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4 dungy-pic" data-aos="fade-right">
            <!-- <img src="../static/iPortfolio/assets/img/dungy.img.png" class="dungy-pic img-fluid" alt=""> -->
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" style="margin-left: 20px;" data-aos="fade-left">
            <br/>
            <h3>Erick Munoz </h3>
            <p class="about-p" data-aos="fade-up"  data-aos-delay="200">
              A software developer with a passion for programming and helping others. He began his journey into the tech industry after being diagnosed with cancer and wanting to make a change in his life. Since then, he has been dedicated to learning new technologies and adapting to the fast-paced world of IT. In addition to his skills as a software developer, he is also a web developer and ethical hacker. He is available for freelance work and is always looking for new opportunities to grow and learn.
          </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="Tech section-title skills ">
      <div class="tech" data-aos="fade-up">
          <h2>Technologies</h2>
          <p>As a Full Stack Web Developer with a focus on MERN Stack, I have a strong background in a variety of technologies. I am also well-versed in web application security testing. I am constantly seeking to learn new programming languages, frameworks, libraries, and security techniques. In order to ensure the security of my web applications and myself, I have taken a keen interest in the field of penetration testing.
          </p>
      </div>
      <br/>
      <div class="Tech-stack ">
        <br/>
      <div class="frontend" data-aos="fade-left">
        <h3>Front-End</h3>
        
        <ul style="display: flex">
          <i class="fab akills fa-html5 fa-2x"></i><h4 class="text"><br/>HTML </h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-css3-alt fa-2x"></i><h4 class="text"><br/>CSS </h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-js-square fa-2x"></i><h4 class="text"><br/>JavaScript</h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-react fa-2x"></i><h4 class="text"><br/>ReactJS</h4>
        </ul>
      </div>
      <br/>
      <div class="backend" data-aos="fade-up">
        <h3>Back-End</h3>
        <ul style="display: flex">
          <i class="fab fa-python fa-2x"></i><h4 class="text"><br/>Python</h4>
        </ul>
        <ul style="display: flex">
          <i class="fab akills fa-node-js fa-2x"></i><h4 class="text"><br/>NodeJS </h4>
        </ul>
        <ul style="display: flex; font-size: 25px;">
          <i class="fab akills fa fa-terminal fa-1x"></i><h4 class="text"><br/>BASH | Powershell </h4>
        </ul>
      </div>
      <br/>
      <div class="stack-tools" data-aos="fade-right">
        <h3 style="margin-left: 25px;">Tools </h3>
        <ul style="color: rgb(135, 150, 156);">
          Windows | Linux Operating Systems 
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          MongoDB | Mongoose Compass | MySql
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          BootStrap 4/5 | NPM | RESTful API
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          Azure DevOps | Git | GitHub VersionControl
        </ul>
        <ul style="color: rgb(135, 150, 156);">
          Visual Studio Code | PyCharm 
        </ul>
      </div>
    </div>
    </section>
    <!-- End Skills/Tools Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="" class="portfolio section-bg">
      <div class="container items">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>
        <h5 style="color: rgb(70, 68, 68);">* Currently Some Websites are down due to heroku free hosting policy change | Working on self hosting AWS *</h5>
          <br>
        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>
        <!-- 0 -->
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/tesla-replica.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/tesla-replica.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="I Re-Created the Tesla website. I used Reactjs and a Redux template along with Styled Components."/>TeslaClone<a class="bx " href="https://tesla-replica.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Tesla-Replica">Code</a>
              </div>
            </div>
          </div>
        <!-- 1 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/reactportfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/reactportfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Created a future portfolio using ReactJS and NextJS. (under-construction) "/>Portfolio<a class="bx " href="https://erickmunoz.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/React-Portfolio">Code</a>
              </div>
            </div>
          </div>
        <!-- 2 -->
          <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/resume.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/resume.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Erick's online resume, created with;<br> HTML | Python Flask framework for a back-end "/>Resume<a class="bx " href="https://dungy.pythonanywhere.com/">Live</a></a><a class="bx " href="https://github.com/Dungyy/resume">Code</a>
              </div>
            </div>
          </div> -->
        <!-- 3 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app"data-aos="fade-up" data-aos-delay="500">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/tindog.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/tindog.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="TinDog is like tinder but for dogs. I created this Landing Page for a fake company as a joke, check it out it's pretty funny. The stack i used; HTML, CSS and Bootstrap4"/>tindog<a class="bx " href="https://dungyy.github.io/tindog/">Live</a></a><a class="bx " href="https://github.com/Dungyy/tindog">Code</a>
              </div>
            </div>
          </div>
        <!-- 4 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-right"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (2).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (2).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Re-Created Simon Game, Using the Document Object Model, I used; <br> HTML | CSS | JavaScript | jQuery "/>SimonGame<a class="bx " href="https://dungyy.github.io/Simon-Game/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Simon-Game">Code</a>
              </div>
            </div>
          </div>
        <!-- 5 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (1).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Jon is a client who wanted an online portfolio to showcase his art to the world wide web I used Python Flask's Mirco framework as a backend. On the front, I used HTML, CSS, and JavaScript for the drop-down nav."/>Portfolio<a class="bx " href="https://snakeskin.pythonanywhere.com/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Jonathons-portfolio">Code</a>
              </div>
            </div>
          </div>
        <!-- 6 -->
          
        <!-- 7 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Dingy.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Dingy.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Check out Dingy to get a fast track on your favorite crypto coin! Currently working on adding crypto news as a feature The Stack: ReactJS, JSX, CSS, & calling data from a Restful API"/>Dingy<a class="bx " href="https://dingy-crypto.netlify.app/">Live</a></a><a class="bx " href="https://github.com/Dungyy/crpyto-tracker">Code</a>
              </div>
            </div>
          </div>
        <!-- 8 -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
          <div class="portfolio-wrap">
            <img src="../static/iPortfolio/assets/img/portfolio/dungychat.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="../static/iPortfolio/assets/img/portfolio/dungychat.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="A Real-time chat app using WebSockets, Node.js, Express, and Socket.io as my backend with Vanilla JavaScript on the frontend"/>DungyChat<a class="bx " href="https://dungy-chat.herokuapp.com/">Live</a></a><a class="bx " href="https://github.com/Dungyy/Dungy-Chat/">Code</a>
            </div>
          </div>
        </div>
        <!-- 9 -->
        <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
          <div class="portfolio-wrap">
            <img src="../static/iPortfolio/assets/img/portfolio/triworks.png" class="img-fluid" alt="">
            <div class="portfolio-links">
              <a href="../static/iPortfolio/assets/img/portfolio/triworks.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Created a landing page for a client using Velo on the Wix platform. I used custom JavaScript and React code"/>Triworks<a class="bx " href="https://erickmunoz13.wixsite.com/triworks/">Live</a></a><a class="bx " href="https://github.com/Dungyy">Code</a>
            </div>
          </div>
        </div>
        <!-- 10 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/novatechresume.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/novatechresume.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Replica of my resume, Created this for a test project. ( NOT MOBILE FRIENDLY )"/>Resume<a class="bx " href="https://novatech-resume.herokuapp.com/">Live</a></a><a class="bx " href="https://github.com/Dungyy/novatech-resume/">Code</a>
              </div>
            </div>
          </div>
        
          </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Ethical Hacking</h4>
              <p><em>z Security</em></p>
              
              
            </div>
            <div class="resume-item">
              <h4>
                Web Development Bootcamp
              </h4>
              <p><em>Udemy</em></p>
              
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Freelancer</h4>
              <p><em>Web Developer</em></p>
              
            </div>
            <div class="resume-item">
              <h4>NovaTech-Engineering</h4>
              <p><em>Software Developer</em></p>
              <h5 style="cursor: pointer;" onclick="window.open('https://www.linkedin.com/company/nova-tech-engineering/')">present</h5>
            
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="testimonials-slider">

        <div class="section-title contact1">
          <h2 >Contact</h2>
          <p></p>
        </div>

        <div class="row contact1" data-aos="fade-up">

          
          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="phone">
                <i class="bi bi-calendar-check"></i>
                <h4>Schedule a Meeting:</h4>
                <a style="margin-left: 1rem;" href="https://calendly.com/erickmunoztech/phone-call-meeting?month=2022-05">Click Here</a>
              </div>
              <br/>
              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                  <a href="mailto:erickmunoztech@gmail.com">erickmunoztech@gmail.com</a>
              </div>
                <br>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p href="320.321.4780">320.321.4780</p>
              </div>
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Minnesota, USA</p>
              </div>
                <br>
                <div class="social-icons">
                  <a href="https://github.com/Dungyy" class="twitter"><i class="bx bxl-github"></i></a>
                  <a href="https://twitter.com/codewithdungy" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.linkedin.com/in/erick-munoz-2532ab219/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>
    
  </main>
  
  <!-- End Contact Section -->


  <!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/iPortfolio/assets/vendor/aos/aos.js"></script>
  <script src="../static/iPortfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/iPortfolio/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/iPortfolio/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/iPortfolio/assets/js/main.js"></script>

</body>

</html>
