<!DOCTYPE html>
<html lang="en">

<head>
  <title>Erick Munoz | Portfolio</title>
  <meta id="Content" content="Erick's Munoz Portfolio" name="Erick Munoz">
  <meta content="Erick's Portfolio" name="keywords">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta >
    <!-- bootstrap -->
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->

    <!-- FontAwesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

  <!-- Favicons -->
  <link href="../static/iPortfolio/assets/img/Black-Internet-icon.png" rel="icon">
  <link href="../static/iPortfolio/assets/img/Black-Internet-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/iPortfolio/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/iPortfolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/iPortfolio/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../static/iPortfolio/assets/img/erick-img%20(2).jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Erick Munoz</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/Dungyy" class="twitter"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/codewithdungy" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.linkedin.com/in/erick-munoz-2532ab219/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          <li><a href="https://dungy.pythonanywhere.com/" class="nav-link scrollto"><i class="nav-link scrollto bx bx-file-blank"></i> <span>Resume</span></a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 data-aos="fade-up" data-aos-delay="500">Erick Munoz</h1>
      <p data-aos="fade-up" data-aos-delay="1000">I'm <span class="typed" data-typed-items="Erick Welcome!, a Developer,a Programmer, a Web Designer, a Freelancer,"></span></p>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title fade-left">
          <h2>About</h2>
          <p class="about-p" data-aos="fade-up"  data-aos-delay="200">I'm a Self-Taught Developer that has a genuine enthusiasm for programming, Learning new dialects and helping other people. How? or then again why? Am I self-Taught?
            Well after being told I could in any case have malignancy, I needed to completely change myself and roll out an improvement for my Family and I, So what I did was grab a book and some online courses and began my Tech venture.
            <br> *Friendly reminder that life is excessively short, so appreciate it & live the life YOU want to live.*
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="../static/iPortfolio/assets/img/dungy.img.JPG" class="dungy-pic img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Bio</h3>
            <p class="about-p">
              I was brought into the world in Mazatlan, Mexico. I moved to the USA at an early age to carry on with the American dream, I went to HighSchool and Graduated in 2012. I wanted to head off to college, however, due to my foreign status, I was unable to enroll. Instead, I applied for a work grant, so that I could provide for my family. Over that time, I worked a typical day job, that was until one day in 2019, when I was rushed into the emergency room. While I was there, the doctor informed me that I had a malignant tumor, which was removed, but since then, I've had an alternative mentality and perspective to achieve a better outcome for my family and I.
              <br>
                The second I composed my first line of code I was hooked, I wanted to learn more, I went on a learning binge of coding. I totally enjoy learning the coding languages and im eager to find out more, Step by step and day by day I'm learning more. I will likely turn into a full-stack developer, but until I'm familiar with the abilities I will to help other people figure out how to code and have an effect in this world.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->


    <!-- ======= Skills Section ======= -->

    <section id="skills" class="skills section-bg">
      <div class="container">

            <div class="row" data-aos="fade-up">
               <div class="section-title">
               <h2>Skills:</h2>
               </div>
              <div class="col skills-content">
                <i class="fab akills fa-python fa-3x"></i><h4 class="text">Python</h4><br>
                <i class="fab akills fa-node fa-3x"></i><h4 class="text">Node.js </h4><br>
                <i class="fab akills fa-html5 fa-3x"></i><h4 class="text">HTML </h4><br>
                <i class="fab akills fa-css3-alt fa-3x"></i><h4 class="text">CSS </h4><br>
                <i class="fab akills fa-js-square fa-3x"></i><h4 class="text">JavaScript</h4><br>
                <i class="fab akills fa-react fa-3x"></i><h4 class="text">ReactJS</h4><br>

                <br>
            </div>

    <!-- ======= Tools Section ======= -->

            <div class="col section-title skills-content tools" data-aos="fade-up">
                <div class="section-title">
                <h2>Tools:</h2>
                </div>
               <h4 class="text">-ExpressJS</h4><br>
               <h4 class="text">-Flask Mirco Framework</h4><br>
               <h4 class="text">-BootStrap 4 | 5</h4><br>
               <h4 class="text">-Git | GitHub</h4><br>
               <h4 class="text">-Node Package Manager</h4><br>
               <h4 class="text">-API | REST</h4><br>
               <h4 class="text">-NextJS</h4><br>
               <h4 class="text">-Visual Studio Code | Pycharm</h4>
            </div>
          </div>
      </div>
    </section>

    <!-- End Skills/Tools Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
          </div>
        </div>
        <!-- 0 -->
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/tesla-replica.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/tesla-replica.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Created a Tesla Replica with React and Redux "/>Tesla-Replica<a class="bx bx-plus" href="https://tesla-replica.herokuapp.com/"><i class="bx">Replica Link</i></a>
              </div>
            </div>
          </div>
        <!-- 1 -->
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/reactportfolio.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/reactportfolio.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Created a future portfolio using ReactJS and NextJS. (under-construction) "/>Portfolio<a class="bx bx-plus" href="https://dungy-app.herokuapp.com/"><i class="bx">Link</i></a>
              </div>
            </div>
          </div>
        <!-- 2 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/resume.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/resume.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Erick's online resume, created with;<br> HTML | Python Flask framework for a back-end "/>Resume<a class="bx bx-plus" href="http://dungy.pythonanywhere.com/"><i class="bx">Resume Link</i></a>
              </div>
            </div>
          </div>
        <!-- 3 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app"data-aos="fade-up" data-aos-delay="500">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/tindog.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/tindog.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Created Tindog, Where dogs can find there love of there life using tindog, A knockoff tinder. I Created this web-app using;<br> HTML | CSS | Bootstrap4. "/>Tindog<a class="bx bx-plus" href="https://dungyy.github.io/tindog/"><i class="bx">Tindog Link</i></a>
              </div>
            </div>
          </div>
        <!-- 4 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-right"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (2).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (2).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Re-Created Simon Game, Using the Document Object Model, I used; <br> HTML | CSS | JavaScript | jQuery "/>Simon Game<a class="bx bx-plus" href="https://dungyy.github.io/Simon-Game/"><i class="bx">Simon Link</i></a>
              </div>
            </div>
          </div>
        <!-- 5 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-left"  data-aos-delay="300">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (1).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (1).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="I Created a clients portfolio using; <br> HTML | CSS | JavaScript | Bootstrap5"/>Jon's Portfolio<a class="bx bx-plus" href="https://snakeskin.pythonanywhere.com/"><i class="bx">Jon's Portfolio</i></a>
              </div>
            </div>
          </div>
        <!-- 6 -->
          
        <!-- 7 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/newsletter.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/newsletter.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="New's Letter Sign-up, with MailChimp API I Created this using;<br>| NodeJS | ExpressJS | body-parser | HTML & Bootstrap on the frontend">News-letter<a class="bx bx-plus" href="https://dungy-newsletter.herokuapp.com/"><i class="bx">Sign-up Link</i></a>
              </div>
            </div>
          </div>
        <!-- 8 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/Screenshot (14).png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/Screenshot (14).png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungy Chat is a Realtime app with websockets using Node.js | Express | Socket.io with JavaScript on the frontend with a custom UI">Dungy Chat<a class="bx bx-plus" href="https://dungy-chat.herokuapp.com/"><i class="bx">Chat Link</i></a>
              </div>
            </div>
          </div>
        <!-- 9 -->
          <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-aos="fade-up"  data-aos-delay="400">
            <div class="portfolio-wrap">
              <img src="../static/iPortfolio/assets/img/portfolio/todo-list.png" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="../static/iPortfolio/assets/img/portfolio/todo-list.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dungy todo-list is build with ejs templating, express and body parser. A simple cool todo check list. ">Dungy todo-list<a class="bx bx-plus" href="https://dungy-list.herokuapp.com/"><i class="bx">Todo-list Link</i></a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="testimonials-slider">

        <div class="section-title contact1">
          <h2>Contact</h2>
          <p></p>
        </div>

        <div class="row contact1" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Minnesota, USA</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                  <a href="mailto:erickmunoz13@gmail.com">erickmunoz13@gmail.com</a>
              </div>
                <br>
              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+320 321 4780</p>
              </div>
              <div><br>
          <a href="https://github.com/Dungyy" class="twitter"><i class="bx bxl-github"></i></a>
          <a href="https://twitter.com/codewithdungy" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.linkedin.com/in/erick-munoz-2532ab219/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>
    
  </main>
  
  <!-- End Contact Section -->


  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
          <strong><span></span></strong>
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/iPortfolio/assets/vendor/aos/aos.js"></script>
  <script src="../static/iPortfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/php-email-form/validate.js"></script>
  <script src="../static/iPortfolio/assets/vendor/purecounter/purecounter.js"></script>
  <script src="../static/iPortfolio/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/typed.js/typed.min.js"></script>
  <script src="../static/iPortfolio/assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/iPortfolio/assets/js/main.js"></script>

</body>

</html>
